In [2]:
import pandas as pd

In [12]:
df = pd.read_csv("data\BooksDatasetClean.csv")
df.head()

<>:1: SyntaxWarning: invalid escape sequence '\B'
<>:1: SyntaxWarning: invalid escape sequence '\B'
C:\Users\sadhanas\AppData\Local\Temp\ipykernel_21444\136354079.py:1: SyntaxWarning: invalid escape sequence '\B'
  df = pd.read_csv("data\BooksDatasetClean.csv")

,Title,Authors,Description,Category,Publisher,Price Starting With ($),Publish Date (Month),Publish Date (Year)
0,Goat Brothers,"By Colton, Larry",NaN,"History , General",Doubleday,8.79,January,1993
1,The Missing Person,"By Grumbach, Doris",NaN,"Fiction , General",Putnam Pub Group,4.99,March,1981
2,Don't Eat Your Heart Out Cookbook,"By Piscatella, Joseph C.",NaN,"Cooking , Reference",Workman Pub Co,4.99,September,1983
3,When Your Corporate Umbrella Begins to Leak: A...,"By Davis, Paul D.",NaN,NaN,Natl Pr Books,4.99,April,1991
4,Amy Spangler's Breastfeeding : A Parent's Guide,"By Spangler, Amy",NaN,NaN,Amy Spangler,5.32,February,1997

In [14]:
df = df.head()
[print(row) for index,row in df.iterrows()]

Title                           Goat Brothers
Authors                      By Colton, Larry
Description                               NaN
Category                    History , General
Publisher                           Doubleday
Price Starting With ($)                  8.79
Publish Date (Month)                  January
Publish Date (Year)                      1993
Name: 0, dtype: object
Title                      The Missing Person
Authors                    By Grumbach, Doris
Description                               NaN
Category                    Fiction , General
Publisher                    Putnam Pub Group
Price Starting With ($)                  4.99
Publish Date (Month)                    March
Publish Date (Year)                      1981
Name: 1, dtype: object
Title                      Don't Eat Your Heart Out Cookbook
Authors                             By Piscatella, Joseph C.
Description                                              NaN
Category                                 Cooking , Reference
Publisher                                     Workman Pub Co
Price Starting With ($)                                 4.99
Publish Date (Month)                               September
Publish Date (Year)                                     1983
Name: 2, dtype: object
Title                      When Your Corporate Umbrella Begins to Leak: A...
Authors                                                    By Davis, Paul D.
Description                                                              NaN
Category                                                                 NaN
Publisher                                                      Natl Pr Books
Price Starting With ($)                                                 4.99
Publish Date (Month)                                                   April
Publish Date (Year)                                                     1991
Name: 3, dtype: object
Title                      Amy Spangler's Breastfeeding : A Parent's Guide
Authors                                                   By Spangler, Amy
Description                                                            NaN
Category                                                               NaN
Publisher                                                     Amy Spangler
Price Starting With ($)                                               5.32
Publish Date (Month)                                              February
Publish Date (Year)                                                   1997
Name: 4, dtype: object

[None, None, None, None, None]

In [15]:
df.columns

Index(['Title', 'Authors', 'Description', 'Category', 'Publisher',
       'Price Starting With ($)', 'Publish Date (Month)',
       'Publish Date (Year)'],
      dtype='object')

In [20]:
df.fillna(value="none", inplace=True)
df

,Title,Authors,Description,Category,Publisher,Price Starting With ($),Publish Date (Month),Publish Date (Year)
0,Goat Brothers,"By Colton, Larry",none,"History , General",Doubleday,8.79,January,1993
1,The Missing Person,"By Grumbach, Doris",none,"Fiction , General",Putnam Pub Group,4.99,March,1981
2,Don't Eat Your Heart Out Cookbook,"By Piscatella, Joseph C.",none,"Cooking , Reference",Workman Pub Co,4.99,September,1983
3,When Your Corporate Umbrella Begins to Leak: A...,"By Davis, Paul D.",none,none,Natl Pr Books,4.99,April,1991
4,Amy Spangler's Breastfeeding : A Parent's Guide,"By Spangler, Amy",none,none,Amy Spangler,5.32,February,1997